---
layout: page
title: About Us
permalink: /about
summary: This is a custom page description about IT services
tags: Forensic Analysis, Risk Analysis, Web Application/Infrastructure Assessments, ect
---

<!-- Slider Start -->
<section id="global-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1>About Us</h1>
            <p>Impervious Solutions' Global Security Solutions address all aspects of the enterprise to ensure total protection. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="block">
                <h2>About Impervious Solutions</h2>
                <p>Impervious Solutions' Global Security Solutions address all aspects of the enterprise to ensure total protection. From facilities and systems to people and information, delivering reliable and cost-effective protection to improve the security of your environment.</p>
                <p>Over 16 years of proven experience and a heritage of delivering consistent, reliable information security services globally enables Impervious Solutions to help clients protect valuable assets, minimize and manage risk, and maximize business results.</p>
            </div>
            <div class="block">
                <h2>Why Use Our Vulnerability Assessment Services?</h2>
                <p>Organizations operate in a dynamic environment.They need to be able to protect vital assets and capitalize on investments as new threats and technologies emerge. It's important to choose a partner who understands enterprise security and risk management. Our comprehensive approach adds value to your business not only by reducing risks and potential costs of non-compliance and security breaches, but also by enabling improved efficiency and productivity through greater protection.</p>
                <p>As a premier global provider of information security services to both commercial and government organizations, Impervious Solutions is fully aware of the challenges and issues that face today's highly sensitized business community. By partnering with Impervious Solutions, organizations can be confident that the focus on security will be business driven, end-to-end and based upon robust business and security processes and commercial best practice.</p>
                <p>Our overarching objective is to provide you with the information security service and delivery framework that affords the most cost effective balance between performance and protection.</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2><center>Testimonials</center></h2>
                  {% if site.data.testimonials.size > 0 %}
                      {% for tm in site.data.testimonials %}
                      <div id="testimonial">
                          <img src="img/cotation.png" alt="IMG">
                          <p>{{ tm.testimonial }}</p>
                          <div class="user">
                            <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                          </div>
                      </div>
                      {% endfor %}
                  {% endif %}
                </div>
              </div>
    </div>
</div>