---
layout: page
title: Kevin Klopp
permalink: /
summary: This is a custom page description about IT services
tags: Forensic Analysis, Risk Analysis, Web Application/Infrastructure Assessments, ect
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Cyber Security/Information &#38; <br>Security Agency</h1>
          <p class="animated fadeInUp">Cybersecurity isn’t just important for big corporations. All companies are at risk for attacks–especially small business, since hackers may assume they’re not as careful.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Impervious Solutions' Global Security Solutions address all aspects of the enterprise to ensure total protection. From facilities and systems to people and information, delivering reliable and cost-effective protection to improve the security of your environment.</p>
          </div>
          <p>As a part of Impervious Solutions comprehensive portfolio of Security Solutions, our Vulnerability Assessment Services are an important first step to realizing the benefits of a comprehensive information risk management program. Our assessment services provide a foundation for improved risk-based decision making in order to achieve compliance and prioritize investments to better protect your digital enterprise.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>SERVICES</h2>
        <p>Our security experts combine proprietary technology and best-of-breed methodologies with cutting-edge toolsets to assess potential vulnerabilities across the enterprise.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-network"></i>
          <h4>NETWORK AND INFRASTRUCTURE VULNERABILITY ASSESSMENTS </h4>
          <p>Focuses on both internal and perimeter critical devices such as firewalls, routers, servers, databases and appliances</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-laptop"></i>
          <h4>WEB APPLICATION VULNERABILITY ASSESSMENTS</h4>
          <p>In depth manual and automated tests against the application's design, logic, and underlying web server. (includes thin &amp; thick client testing)</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>DEEP SOURCE CODE REVIEW FOR WEB APPLICATIONS</h4>
          <p>A comprehensive web application security analysis of developers source code. This is ideal for in house developed web applications.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-iphone"></i>
          <h4>MOBILE SECURITY</h4>
          <p>Impervious Solutions has created a thorough mobile testing methodology focusing on the Application Design Review, Threat Modeling, Comprehensive Mobile Application Security Assessments, Code Review and Forensic Analysis</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-gear-a"></i>
          <h4>SBVA TESTING</h4>
          <p>Security Assessments performed against Pre-production Devices or Applications. Commonly performed for custom desktop or server OS roll-outs, new product introduction or application major release updates. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-list"></i>
          <h4>FULL COMPLIANCE AUDITING</h4>
          <p>Certified testing available for: Sarbanes-Oxley (SOX), GLBA, PCI, HIPAA</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wifi"></i>
          <h4>WIRELESS ASSESSMENTS</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-android-lock"></i>
          <h4>SECURITY CONSULTING SERVICES</h4>
          <p>Including wireless architecture, access-point configuration (war-driving) and applied encryption technologies</p>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="btn btn-default btn-call-to-action" href="#" >FULL LIST OF SERVICES</a>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Self Defence for the Digital Enterprise</h2>
          <p>Our Global Security Solutions address all aspects of your enterprise to ensure total protection.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet qui sed ball tip spare ribs, filet mignon kevin ea. Meatball commodo sirloin lorem leberkas qui. Et shoulder ut pancetta tail, occaecat ad bacon chuck ground round cupidatat irure magna biltong.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
