---
layout: page
title: Testimonials
permalink: /testimonials
summary: This is a custom page description about IT services
tags: Forensic Analysis, Risk Analysis, Web Application/Infrastructure Assessments, ect
---

<!-- Slider Start -->
<section id="about-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1>Testmonials</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="block">
                <h2><center>Checkout what people are saying about us!</center></h2>
                {% if site.data.testimonials.size > 0 %}
                    {% for tm in site.data.testimonials %}
                    <div class="testimonial-card">
                        <img src="img/cotation.png" alt="IMG">
                        <p>{{ tm.testimonial }}</p>
                        <div class="user">
                        <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="block">
            <h2>How can we help?</h2>
            <p>We're anxious to help secure your network. Contact us to learn more about how we can help.</p>
            <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }}/contact" >Contact Us</a>
            </div>
        </div>
        </div>
    </div>
</section>