<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
              <li><a href="{{ site.baseurl }}/services">Services</a></li>
              <li><a href="{{ site.baseurl }}/about">About Us</a></li>
              <li><a href="{{ site.baseurl }}/certifications">Certifications</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
              <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
          </ul>
        </div>
        <p>Copyright &copy;<span id="js-date"></span> <a href="{{ site.baseurl }}">{{ site.title }}</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
