---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="block">
              <h1>{{ page.title }}</h1>
              <div class="post-info-wrapper">
                <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
              </div>
              <hr />
              <p>{{ content }}</p>
            </div>
          </div><!-- .col-md-8 close -->
          <div class="col-md-4 col-sm-12">
              <h4>Other Articles</h4>
              {% for post in site.posts %}
              <div class="row">
                  <div class="col-md-12">
                  <a href="{{ post.url | prepend: site.baseurl }}" class="bold"><i class="ion-ios-paper-outline"></i> {{ post.title }}</a>
                  <p>
                    {{ post.content | strip_html | truncatewords: 25 }}
                  </p>
                  </div>
              </div>
              {% endfor %}
          </div><!-- .col-md-4 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/blog"><i class="ion-backspace"></i> Back to blog</a>
</p>
